.product-container {
	padding: 1rem;
	display: grid;
	position: relative;
	bottom: 5rem;
	z-index: 500;
	grid-template-columns: repeat(3, 1fr);
	/* background-color: rgb(188, 230, 238); */
	margin: auto;
	gap: 3rem;
}

.img {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
}
