.review-text-wrapper {
	color: black;
	background-color: white;
	border: 2px solid black;
	width: 105%;
	margin: 1rem 0;
	padding: 0.3rem 1rem;
	text-align: left;
}

.review-text {
	font-size: 1rem;
}
