.product-category-page {
	background-color: #ccc;
	height: auto;
	width: 100vw;
}

.wrapper {
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
