.modal {
	height: 500px;
	width: 500px;
	margin: 3rem auto;
	position: fixed;
	top: 4rem;
	left: 30%;
	z-index: 500;
	transition: all 0.7s ease-out;
	background-color: black;
	border: 3px solid black;
	animation: modalAnimation 1s forwards;
}

@keyframes modalAnimation {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}
