.horizontal-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2rem auto;
	background-color: white;
	width: 60rem;
	padding: 1rem;
}

.product-info-wrapper {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
