.product-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
	text-align: left;
}

.cart-icon {
	transition: all 0.3s ease-in-out;
}
.cart-icon:hover {
	background-color: #ccc;
	transform: scale(1.3);
}
