.product-info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	text-decoration: none;
	color: black;
	height: 100%;
	background-color: #ccc;
	text-align: left;
}

.product-info-text {
	text-decoration-color: white;
}

.deleteBtn {
	height: 2.3rem;
	margin-right: 2rem;
	padding: 0.25rem 0.1rem;
	width: 9rem;
	background-color: red;
	color: white;
	border: none;
	font-size: 0.75rem;
	transition: all 0.4s ease-in-out;
}

.deleteBtn:hover {
	background-color: transparent;
	transform: scale(1.1);
	color: black;
	border: 2px solid black;
}
