.product-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
	text-decoration: none;
	color: black;
	text-align: left;
}

.product-info-text {
	text-decoration-color: white;
}

.deleteBtn {
	height: 2.3rem;
	padding: 0.25rem 0.1;
	width: 10rem;
	background-color: red;
	color: white;
	border: none;
	font-size: 1rem;
	transition: all 0.4s ease-in-out;
}

.deleteBtn:hover {
	background-color: transparent;
	transform: scale(1.2);
	color: black;
	border: 2px solid black;
}
