.sticky-navbar {
	position: sticky;
	margin-top: 3rem;
	background: black;
	color: white;
}

.sticky-navbar-items {
	height: 2rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
