.sticky-navbar {
	position: sticky;
	margin-top: 3rem;
	background: black;
	color: white;
}

.sticky-navbar-items {
	display: grid;
	font-size: 0.85rem;
	height: 4rem;
	grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 640px) {
	.sticky-navbar-items {
		display: flex;
		justify-content: space-evenly;
		font-size: 1rem;
		align-items: center;
		height: 2rem;
	}
}
