.popup-bar {
	position: fixed;
	top: 6rem;
	margin: auto;
	left: 37rem;
	height: 9rem;
	width: 15rem;
	padding: 2rem;
	z-index: 9000;
	border: 2px solid rgb(1, 71, 42);
	font-size: 1.3rem;
	color: white;
	display: grid;
	place-items: center;
	transition: all 0.5s ease-in-out;
}

.success {
	background: rgb(124, 221, 112);
}

.fail {
	background: rgb(207, 63, 63);
}
